<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Tunner</a>
        <ul class="navbar-nav d-flex">
            <li class="nav-item" (click)="navigate('/')">
                Inicio
            </li>
            <li class="nav-item" (click)="navigate('/products')">
                Productos
            </li>
        </ul>
        <ul class="navbar-nav d-flex">
            <li class="nav-item" (click)="navigate('/login')">
               Crear cuenta
            </li>
            <li class="nav-item" (click)="navigate('/signin')">
                Iniciar sesión
            </li>
        </ul>
            
    </div>
</nav>
